
<div class="jumbotron">
  <h1>Tagimacate all the things!</h1>
  <p class="lead">
    Text input item tagging.
  </p>
  <ul>
  </ul>
</div>

<div class="row marketing">
  <h4>Here's why you should use the tagimacator:</h4>
  <p>
    <ul>
      <li>Optimized: Tagimacator doesn't block browser execution when rendering or querying large data sets!</li>
      <li>Modular: Tagimcator utilizes angular directives for awesome portability.</li>
      <li>Configurable: Have multiple instances of tagimacators with various configurations!</li>
    </ul>
  </p>
  <p>
    Check out the <a href="#/demos">demos</a> page for instructions on installing and using!
  </p>
</div>

<h2>Installation</h2>
<hr>
<p class="lead">Install via Bower:</p>
<pre>
  <code>
bower install tagimacator    
  </code>
</pre>
<p>
  Once installed, source tagimacator in your index.html and include the tagimacator in your app's module declaration:
</p>
<pre>
  <code>
angular.module('myApp', ['tagimacator']);
  </code>
</pre>
<p>Tagimacator uses Sass, so you'll have to:</p>
<pre>
  <code>
@import 'tagimacator';
  </code>
</pre>
<p> in your main scss file.</p>

<p>After that, you are free to use the tagimacator directive anywhere!</p>
<h3>NOTE:</h3>
<p>You may have to change the templateUrl property in the tagimacator directive to match your app's file system.</p>
<hr>

<div class="footer">
  <a href="https://github.com/metaltoad/tagimacator">github</a>
</div>
